<!DOCTYPE html>
<html lang=""pt-BR"">
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/boxProdutos.css">
<head>
    <meta charset=""UTF-8"" />
    <title>{{title}}</title>
</head>
<body>
    {{{ body }}}
</body>
: <script src="js/home.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</html>
