 {{> header}}
    <link rel="stylesheet" href="css/botanica.css">
    <script src="js/botanica.js" defer></script>


    <h1 style="
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: aliceblue;
  text-align: center;
  margin: 30px 0;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
">
        BOTANICA ENCICLOPEDIA
    </h1>

    <div class="busca-rapida">
        <div class="planta-rapida" data-planta="rose">
            <i class="bi bi-rose"></i>
            Rosa
        </div>
        <div class="planta-rapida" data-planta="sunflower">
            <i class="bi bi-sun"></i>
            Girassol
        </div>
        <div class="planta-rapida" data-planta="cactus">
            <i class="bi bi-dot"></i>
            Cacto
        </div>
        <div class="planta-rapida" data-planta="orchid">
            <i class="bi bi-flower1"></i>
            Orquídea
        </div>
    </div>

    <div class="busca-container">
        <input type="text" class="busca-input" placeholder="Digite o nome em inglês..." id="inputBusca">
        <button class="botao-busca" id="botaoBusca">
            <i class="bi bi-search"></i>
            Buscar
        </button>
    </div>

    <div id="resultados"></div>

    </div>

    <div class="container">
        <div class="explicacao">
            <h2><i class="bi bi-info-circle"></i> Como funciona?</h2>
            <br>
            <p>Esta enciclopédia botânica utiliza inteligência artificial para:</p>
            <br>
            <ul>
                <li>Identificar plantas através de nomes científicos ou populares</li>
                <li>Fornecer recomendações detalhadas de cuidados</li>
                <li>Exibir imagens de alta qualidade</li>
                <li>Oferecer dados atualizados da comunidade científica</li>
            </ul>
            <p><strong>Instruções:</strong> Digite o nome em inglês e clique em buscar</p>
        </div>
        <div id="resultados"></div>
        <div class="aviso">
            <i class="bi bi-exclamation-triangle"></i>
            <div>
                <strong>Atenção:</strong> Para melhores resultados, digite o nome da planta em inglês.
                Dados podem conter imprecisões - sempre consulte fontes especializadas.
            </div>
        </div>

