{{> header}}

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">

{{!-- Video inicio --}}
<div id="video-container">
  <video id="meu-video" autoplay muted loop playsinline>
    <source src="video/Video.mp4" type="video/mp4">
    Seu navegador não suporta vídeos.
  </video>
</div>
{{!-- Produtos destaques texto --}}
<h1 style="
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: aliceblue;
  text-align: center;
  margin: 30px 0;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
">
 NOTICIAS DESTAQUES
</h1>
{{!-- Produtos destaques --}}
 <div class="container">
  <div class="box-container">
    <div class="box">
      <img src="img/instagramAQ.png" alt="Imagem 1">
      <div class="info">
        <div class="text">
          Marketing: Agora o Aquapulse está presente nas redes sociais...
        </div>
        <button class="saiba-mais" onclick="abrirModal(0)">Saiba Mais</button>
      </div>
    </div>
    <div class="box">
      <img src="img/novoMembro.jpeg" alt="Imagem 2">
      <div class="info">
        <div class="text">
          Informe: Novo membro do time Aquapulse...
        </div>
        <button class="saiba-mais" onclick="abrirModal(1)">Saiba Mais</button>
      </div>
    </div>
    <div class="box">
      <img src="img/Banca.jpeg" alt="Imagem 3">
      <div class="info">
        <div class="text">
          IFMT: AquaPulse é destaque na banca de 2024...
        </div>
        <button class="saiba-mais" onclick="abrirModal(2)">Saiba Mais</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="fecharModal()">&times;</span>
    <h2 id="modal-title"></h2>
    <img id="modal-image" src="" alt="Imagem da Notícia">
    <p id="modal-text"></p>
  </div>
</div>



<div class="chamada-container">
  <div class="chamada-imagem">
    <img src="img/MensagensAnimadas.png" alt="Mensagens Animadas">
  </div>

  <div class="Textos-animados-container">
    <div class="texto-content">
      <div class="titulo-texto">MONITORE SUAS PLANTAS DE ONDE ESTIVER</div>
      <div class="descricao-texto">
        O <strong>AquaPulse</strong> permite que você acompanhe a saúde das suas plantas à distância.<br>
        Sensores inteligentes medem a umidade do solo em tempo real — e você confere tudo direto no app.
      </div>
    </div>
    <div class="icones-laterais">
      <i class="bi bi-droplet-fill"></i>
      <i class="bi bi-phone-fill"></i>
      <i class="bi bi-cpu-fill"></i>
    </div>
  </div>
</div>

<div class="secao-controle-agua">
  <div class="controle-imagem">
    <img src="img/MensagensAnimadas2.png" alt="Controle de Vazão AquaPulse">
  </div>

  <div class="Textos-controle-container">
    <div class="texto-content">
      <div class="titulo-texto">
        SUAS PLANTAS ESTÃO MORRENDO POR FALTA OU EXCESSO DE ÁGUA?
      </div>
      <div class="descricao-texto">
        Com o <strong>AquaPulse</strong>, você tem controle total da irrigação.  
        Pelo app, ajuste a quantidade de água liberada com base na umidade real do solo.  
        Veja em tempo real a vazão ideal para o crescimento saudável das suas plantas.
      </div>
    </div>
    <div class="icones-laterais">
      <i class="bi bi-droplet-fill"></i>
      <i class="bi bi-graph-up"></i>
      <i class="bi bi-clock-history"></i>
    </div>
  </div>
</div>




{{!-- 
{{!-- Banner --}}
<div class="Banner-conteiner">
  <div class="Banner">
    <img src="img/BannerPromoçãoproduto.png" alt="Banner">
  </div>
</div> --}}



<h1 style="
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: aliceblue;
  text-align: center;
  margin: 30px 0;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
">
 NOSSA HISTORIA 
</h1>
 <div class="scroller-container">
        <div class="scroller-content">
            <img src="img/1.png" alt="Imagem 1">
            <img src="img/2.png" alt="Imagem 2">
            <img src="img/1.png" alt="Imagem 1">
            <img src="img/2.png" alt="Imagem 2">
        </div>
    </div>

{{> footer }}