{{> header}}

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">

{{!-- Video inicio --}}
<div id="video-container">
  <video id="meu-video" autoplay muted loop playsinline>
    <source src="video/Video.mp4" type="video/mp4">
    Seu navegador não suporta vídeos.
  </video>
</div>
{{!-- Produtos destaques texto --}}
<h1 style="
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: aliceblue;
  text-align: center;
  margin: 30px 0;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
">
 NOTICIAS DESTAQUES
</h1>
{{!-- Produtos destaques --}}
  <div class="container">
    <div class="box-container">
      <div class="box">
        <img src="img/produto1.png" alt="Imagem 1">
        <div class="info">
          <div class="text">
            CEO : O CEO Osmar amaral deu A doida e deu...
          </div>
          <button class="saiba-mais" onclick="alert('Saiba Mais 1')">Saiba Mais</button>
        </div>
      </div>
      <div class="box">
        <img src="img/produto2.png" alt="Imagem 2">
        <div class="info">
          <div class="text">
            Lançamento de produto: AquaPulse Inova é lança um novo produto...
          </div>
          <button class="saiba-mais" onclick="alert('Saiba Mais 2')">Saiba Mais</button>
        </div>
      </div>
      <div class="box">
        <img src="img/produto3.png" alt="Imagem 3">
        <div class="info">
          <div class="text">
            Inovação: Aquapulse Inova novamente quando assunto é...
          </div>
          <button class="saiba-mais" onclick="alert('Saiba Mais 3')">Saiba Mais</button>
        </div>
      </div>
    </div>
  </div>
 