 {{> header}}
    <link rel="stylesheet" href="css/products.css">
    <script src="js/products.js" defer></script>
   

 
    {{!-- Pequenas areas --}}
    <div class="section">
        <div class="section-content">
            <div class="content">
                <h1>Irrigador Aquapulse B45 - Pequenas Áreas</h1>
                <p>Ideal para irrigar pequenas áreas com eficiência e economia.</p>
                <ul class="info-list">
                    <li><i class="bi bi-water"></i> Vazão: 0 L/min</li>
                    <li><i class="bi bi-lightning"></i> Método: Aspersor </li>
                    <li style="color: green;"><i class="bi bi-coin"></i> R$00,00</li>
                </ul>
                
                <div class="buttons">
                    <a href="#" class="saiba-mais" onclick="event.preventDefault(); openModal('pivotCentral');">
                       Saiba Mais
                    </a>
                    <a href="https://wa.me/+5566992524707" target="_blank" class="comprar">
                       Comprar Agora
                    </a>
                </div>
            </div>
            <div class="image-container">
                <img src="img/produto1.png" alt="Imagem do Irrigador Pivot Central">
            </div>
        </div>
    </div>

    {{!-- Medias Areas --}}
    <div class="section">
        <div class="section-content">
            <div class="image-container">
                <img src="img/produto2.png" alt="Imagem do Irrigador Linear">
            </div>
            <div class="content">
                <h1>Irrigador Aquapulse G100 - Grandes Áreas </h1>
                <p>Perfeito para áreas retangulares com distribuição uniforme de água.</p>
                <ul class="info-list">
                    <li><i class="bi bi-water"></i> Vazão: 0 L/min</li>
                    <li><i class="bi bi-lightning"></i> Método: Aspersor</li>
                     <li style="color: green;"><i class="bi bi-coin"></i> R$00,00</li>
                </ul>
                <div class="buttons">
                    <a href="#" class="saiba-mais" onclick="event.preventDefault(); openModal('linear');">
                       Saiba Mais
                    </a>
                    <a href="https://wa.me/+5566992524707" target="_blank" class="comprar">
                       Comprar Agora
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL OVERLAY -->
    <div class="modal-overlay" id="modalOverlay">
        <div class="modal-content" id="modalContent">
           
            <button class="modal-close" onclick="closeModal()">×</button>

            <div class="modal-header">
                <h2 id="modalTitle"></h2>
            </div>
    
            <div class="modal-tabs" id="modalTabs">
             
            </div>
        
            <div id="modalTabContents">
            
            </div>
        </div>
    </div>

 {{>footer}}